#welcomeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  justify-content: flex-start;

  padding: 50px 0;
}

.welcomeItem p {
}

.headerText1 {
  font-weight: bold;
  font-size: 25px;
}
.headerText2 {
  font-weight: bold;
  font-size: 20px;
}

.contentText{
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  #welcomeContent1 {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  #welcomeContent1 {
    width: 100%;
  }
}
