#homeMainContainer {
  padding: 20px 0;
  display: flex;
  gap: 15px;
}

#welcomeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  justify-content: flex-start;

  padding: 50px 0;
  background-color: #ffffffc9;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.welcomeItem p {
}

.headerText1 {
  font-weight: bold;
  font-size: 25px;
}
.headerText2 {
  font-weight: bold;
  font-size: 20px;
}

.contentTextLarge {
  font-size: 18px;
  padding: 5px 0;
}

.contentText {
  font-size: 15px;
  padding: 5px 0;
}

.welcomeContentTextLangname {
  color: gray;
  font-size: 15px;
}

.ContactContainer {
  padding: 50px 0;
  background-color: #ffffffc9;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  margin-bottom: 15px;
}
.bgDescContainer {
  padding: 50px 0;
  background-color: #ffffff63;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  margin-bottom: 15px;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

.ContactContainer a {
  color: black;
  text-decoration-line: underline;
}

.twitterPlaceHolder {
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.twitterPlaceHolder p {
  padding: 20px;
  font-size: 20px;
  color: darkgray;
}

.blogsContainer {
  padding: 50px 0;
  background-color: #ffffff63;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  margin-bottom: 15px;
  color: white;
}

@media screen and (min-width: 768px) {
  #welcomeContainer {
    width: 60%;
  }
  #twitterContainer {
    width: 30%;
  }
  #homeMainContainer {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  #welcomeContainer {
    width: auto;
  }

  #twitterContainer {
    width: 100%;
  }
  #homeMainContainer {
    flex-direction: column;
  }
}

#loaderContainer {
  width: 100%;
  padding: 50px 0;
}
