.blogtitle {
  color: black;
  font-size: 30px;
}

.bloginfo {
  color: gray;
  font-size: small;
}

.blogdate {
  min-width: 100px;
}

.blogCardContainer {
  padding: 15px 15px;
  transition: all 0.2s;
}

@media (any-hover: hover) {
  .blogCardContainer:hover {
    background-color: rgba(255, 255, 255, 0.527);
  }
}
