.imageTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  font-size: 12px;
}

.imageCard {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #000000;
}
.imageContainer {
  height: 150px;
  text-align: center;
  object-fit: cover;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imageDesc {
  background-color: white;
  padding: 8px;
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 768px) {
  .imageCard {
    width: 23%;
  }
}

@media screen and (max-width: 767px) {
  .imageCard {
    width: 47%;
  }
}
