.imageTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  font-size: 12px;
}

.imageCard {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #000000;
  border: solid 5px #ffffff00;
  transition: all 0.1s;
}

.imageCard:hover {
  background-color: #2c2c2c;
  border: solid 5px #2c2c2c;
  color: white;
}
.imageContainer {
  height: 150px;
  text-align: center;
  object-fit: cover;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.imageDesc {
  padding: 4px;
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 768px) {
  .imageCard {
    width: 23%;
  }
}

@media screen and (max-width: 767px) {
  .imageCard {
    width: 47%;
  }
}
