.checked {
  border-bottom-color: #2d72d2;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.umenuitem {
  width: 10%;
  text-align: center;
  transition: all 0.1s;
  font-family: serif;
}

@media (any-hover: hover) {
  .umenuitem:hover {
    border-bottom-color: rgb(133, 133, 133);
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

.umenuitem:active {
  border-bottom-color: white;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
