body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button {
  padding: 4px 10px;
  font-size: 1rem;
  background-color: white;
  border: solid;
  border-color: rgb(201, 201, 201);
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 4px 10px;
  font-size: 1rem;
  border: solid;
  border-color: rgb(180, 180, 180);
  border-width: 1px;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  main {
    margin: 0 20%;
  }

  nav {
    gap: 15em;
  }

  nav div {
    gap: 8em;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  main {
    margin: 0 15%;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  main {
    margin: 0 10%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  main {
    margin: 0 8%;
  }

  nav {
    gap: 2em;
  }
}

@media screen and (max-width: 479px) {
  main {
    margin: 0 8%;
  }

  nav {
    gap: 2em;
  }

  nav div {
    gap: 1.5em;
  }
}
