.langSelectItem {
  width: 100%;
  padding: 6px 15px;
  font-size: large;
  background-color: white;
  border-color: rgb(189, 209, 218);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.1s;
}

@media (any-hover: hover) {
  .langSelectItem:hover {
    background-color: rgb(204, 204, 204);
  }
}

.langSelectItem:active {
  border-bottom-color: rgb(151, 151, 151);
}

@media screen and (min-width: 768px) {
  #phoneShowMenuButton {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #phoneShowMenuButton {
    display: initial;
  }
}
